# Patterns to ignore when building packages.
# This file is in .gitignore so it doesn't end up in the chart.
# Documented at https://helm.sh/docs/chart_template_guide/helm_ignore_file/

.DS_Store
.git
.gitignore
*.md
*.swp
*.swo
.idea/
*.tgz
.gitkeep
values.dev.yaml
values.prod.yaml
NOTES.txt