<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfwas.devops.mapper.DevopsVulMapper">

    <resultMap id="actorResultMap" type="com.hfwas.devops.entity.DevopsVul">
        <id column="id" property="id" jdbcType="BIGINT" javaType="long" typeHandler="org.apache.ibatis.type.LongTypeHandler"/>
        <result column="cve_id" property="cveId" jdbcType="VARCHAR" javaType="string" typeHandler="org.apache.ibatis.type.StringTypeHandler"/>
        <result column="ghsa_id" property="ghsaId" jdbcType="VARCHAR" javaType="string" typeHandler="org.apache.ibatis.type.StringTypeHandler"/>
        <result column="databases_spec" property="databaseSpecific" jdbcType="VARCHAR" javaType="string" typeHandler="org.apache.ibatis.type.StringTypeHandler"/>
        <result column="ref" property="referencess" jdbcType="VARCHAR" javaType="string" typeHandler="org.apache.ibatis.type.StringTypeHandler"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, modified, published, details, serverity, affected, ref as referencess, databases_spec as databaseSpecific, cve_id as cveId, ghsa_id as ghsaId, ecosystem
    </sql>


    <select id="selectById" parameterType="java.lang.Long" resultType="com.hfwas.devops.entity.DevopsVul">
        select 
            <include refid="Base_Column_List"/>
        from devops_vul where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="list" parameterType="java.lang.Long" resultType="com.hfwas.devops.entity.DevopsVul">
        select cve_id as cveId, ghsa_id as ghsaId from devops_vul where 1=1
        <if test="ids != null">
            and id in
            <foreach collection="ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="listByGhsa" parameterType="java.lang.String" resultType="com.hfwas.devops.entity.DevopsVul">
        select
            <include refid="Base_Column_List"/>
        from devops_vul where 1=1
        <if test="ids != null">
            and ghsa_id in
            <foreach collection="ids" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

    <insert id="save" parameterType="com.hfwas.devops.entity.DevopsVul">
        insert into devops_vul (modified, published, cve_id, ghsa_id, details, serverity, affected, ref, databases_spec, ecosystem) values
        (#{devopsVul.modified}, #{devopsVul.published}, #{devopsVul.cveId}, #{devopsVul.ghsaId}, #{devopsVul.details}, #{devopsVul.serverity}, #{devopsVul.affected}, #{devopsVul.referencess}, #{devopsVul.databaseSpecific}, #{devopsVul.ecosystem})
    </insert>

    <insert id="saveBatch" parameterType="com.hfwas.devops.entity.DevopsVul">
        insert into devops_vul
        (modified, published, cve_id, ghsa_id, details, serverity, affected, ref, databases_spec, ecosystem) values
        <foreach collection="devopsVuls" item="devopsVul" separator=",">
            (#{devopsVul.modified}, #{devopsVul.published}, #{devopsVul.cveId}, #{devopsVul.ghsaId}, #{devopsVul.details}, #{devopsVul.serverity}, #{devopsVul.affected}, #{devopsVul.referencess}, #{devopsVul.databaseSpecific}, #{devopsVul.ecosystem})
        </foreach>
    </insert>

    <update id="updateBatch" parameterType="com.hfwas.devops.entity.DevopsVul">
        <foreach collection="devopsVuls" item="devopsVul" separator=",">
            update devops_vul
            set modified = #{devopsVul.modified},published = #{devopsVul.published},cve_id= #{devopsVul.cveId}, ghsa_id=#{devopsVul.ghsaId}, details=#{devopsVul.details}, ecosystem=#{devopsVul.ecosystem}, serverity=#{devopsVul.serverity}, affected=#{devopsVul.affected}, ref=#{devopsVul.referencess}, database_specific=#{devopsVul.databaseSpecific}
            where ghsa_id=#{devopsVul.ghsaId}
        </foreach>
    </update>
</mapper>